{
  "openapi": "3.1.0",
  "info": {
    "title": "Housing Metrics API",
    "description": "The Parcl Labs API provides analytics on the U.S. housing market, including data on housing stock, sales, listings, rentals, investor activity, and market trends.",
    "version": "0.21.0"
  },
  "servers": [
    {
      "url": "https://api.parcllabs.com",
      "description": "Prod Server"
    }
  ],
  "paths": {
    "/v1/search/markets": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Markets",
        "description": "Gets a list of unique identifiers (<parcl_id>) for markets that correspond to specific keywords or parameters defined by the user. The <parcl_id> is key to navigating the Parcl Labs API, serving as the core mechanism for retrieving market-level information.",
        "operationId": "search_markets_v1_search_markets_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 57,
              "description": "User's search criteria, used to filter <parcl_id>s where the market name meets the specified search criteria",
              "examples": [
                "New York"
              ],
              "title": "Query"
            },
            "description": "User's search criteria, used to filter <parcl_id>s where the market name meets the specified search criteria"
          },
          {
            "name": "location_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the type of geographic boundary used to filter search results. This field allows users to narrow down search results to specific geographic levels",
              "examples": [
                "COUNTY",
                "CITY",
                "ZIP5"
              ],
              "default": "ALL",
              "type": "string",
              "enum": [
                "COUNTY",
                "CITY",
                "ZIP5",
                "CDP",
                "VILLAGE",
                "TOWN",
                "CBSA",
                "ALL"
              ],
              "title": "LocationType"
            },
            "description": "Specifies the type of geographic boundary used to filter search results. This field allows users to narrow down search results to specific geographic levels"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the region of the United States used to filter search results. This field is designed to help users focus their search within specific large geographic areas, aligning with common federal statistical divisions",
              "examples": [
                "EAST_NORTH_CENTRAL",
                "EAST_SOUTH_CENTRAL",
                "MIDDLE_ATLANTIC"
              ],
              "default": "ALL",
              "type": "string",
              "enum": [
                "EAST_NORTH_CENTRAL",
                "EAST_SOUTH_CENTRAL",
                "MIDDLE_ATLANTIC",
                "MOUNTAIN",
                "NEW_ENGLAND",
                "PACIFIC",
                "SOUTH_ATLANTIC",
                "WEST_NORTH_CENTRAL",
                "WEST_SOUTH_CENTRAL",
                "ALL"
              ],
              "title": "RegionType"
            },
            "description": "Specifies the region of the United States used to filter search results. This field is designed to help users focus their search within specific large geographic areas, aligning with common federal statistical divisions"
          },
          {
            "name": "state_abbreviation",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the state within the United States used to filter search results. This field is designed to help users focus their search within specific states, using standard state abbreviations",
              "examples": [
                "AK",
                "AL",
                "AR"
              ],
              "default": "ALL",
              "type": "string",
              "enum": [
                "AK",
                "AL",
                "AR",
                "AZ",
                "CA",
                "CO",
                "CT",
                "DC",
                "DE",
                "FL",
                "GA",
                "HI",
                "IA",
                "ID",
                "IL",
                "IN",
                "KS",
                "KY",
                "LA",
                "MA",
                "MD",
                "ME",
                "MI",
                "MN",
                "MO",
                "MS",
                "MT",
                "NC",
                "ND",
                "NE",
                "NH",
                "NJ",
                "NM",
                "NV",
                "NY",
                "OH",
                "OK",
                "OR",
                "PA",
                "PR",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VA",
                "VI",
                "VT",
                "WA",
                "WI",
                "WV",
                "WY",
                "ALL"
              ],
              "title": "StateAbbreviationType"
            },
            "description": "Specifies the state within the United States used to filter search results. This field is designed to help users focus their search within specific states, using standard state abbreviations"
          },
          {
            "name": "state_fips_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the state within the United States used to filter search results, using the Federal Information Processing Standards (FIPS) code for geographic identification",
              "examples": [
                "FIPS01",
                "FIPS02",
                "FIPS04"
              ],
              "default": "ALL",
              "type": "string",
              "enum": [
                "01",
                "02",
                "04",
                "05",
                "06",
                "08",
                "09",
                "10",
                "11",
                "12",
                "13",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28",
                "29",
                "30",
                "31",
                "32",
                "33",
                "34",
                "35",
                "36",
                "37",
                "38",
                "39",
                "40",
                "41",
                "42",
                "44",
                "45",
                "46",
                "47",
                "48",
                "49",
                "50",
                "51",
                "53",
                "54",
                "55",
                "56",
                "60",
                "66",
                "69",
                "72",
                "78",
                "ALL"
              ],
              "title": "StateFipsType"
            },
            "description": "Specifies the state within the United States used to filter search results, using the Federal Information Processing Standards (FIPS) code for geographic identification"
          },
          {
            "name": "parcl_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "ge": 0,
              "lt": 6000000,
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA",
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA"
          },
          {
            "name": "geoid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 5,
              "maxLength": 7,
              "description": "Specifies the Geographic Identifier (GEOID) used to filter search results. GEOIDs are unique codes assigned to various geographic entities by the U.S. Census Bureau. The Parcl Labs API currently supports GEOIDs for Census zip codes, counties, places, and metros, which range from 5-7 digits in length. For more information, please visit: <https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html>",
              "title": "Geoid"
            },
            "description": "Specifies the Geographic Identifier (GEOID) used to filter search results. GEOIDs are unique codes assigned to various geographic entities by the U.S. Census Bureau. The Parcl Labs API currently supports GEOIDs for Census zip codes, counties, places, and metros, which range from 5-7 digits in length. For more information, please visit: <https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html>"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the sorting order for <parcl_id> results. Allows users to sort markets by population size, median income, and other market types",
              "examples": [
                "TOTAL_POPULATION",
                "MEDIAN_INCOME",
                "CASE_SHILLER_20_MARKET"
              ],
              "default": "TOTAL_POPULATION",
              "type": "string",
              "enum": [
                "TOTAL_POPULATION",
                "MEDIAN_INCOME",
                "CASE_SHILLER_20_MARKET",
                "CASE_SHILLER_10_MARKET",
                "PRICEFEED_MARKET",
                "PARCL_EXCHANGE_MARKET"
              ],
              "title": "SearchSortByType"
            },
            "description": "Specifies the sorting order for <parcl_id> results. Allows users to sort markets by population size, median income, and other market types"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Specifies the direction of the sorting for <parcl_id> results. For example, use sort_order desc with population_size to list more populous markets first.",
              "examples": [
                "ASC",
                "DESC"
              ],
              "default": "DESC",
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "title": "SearchSortOrderType"
            },
            "description": "Specifies the direction of the sorting for <parcl_id> results. For example, use sort_order desc with population_size to list more populous markets first."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "parcl_id": {
                            "type": "integer",
                            "title": "Parcl Id",
                            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA"
                          },
                          "country": {
                            "type": "string",
                            "title": "Country",
                            "description": "The country associated with the given <parcl_id>"
                          },
                          "geoid": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Geoid",
                            "description": "Specifies the Geographic Identifier (GEOID) used to filter search results. GEOIDs are unique codes assigned to various geographic entities by the U.S. Census Bureau, encompassing a wide range of geographic levels from states to census blocks"
                          },
                          "state_fips_code": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "State Fips Code",
                            "description": "Specifies the state within the United States used to filter search results, using the Federal Information Processing Standards (FIPS) code for geographic identification"
                          },
                          "name": {
                            "type": "string",
                            "title": "Name",
                            "description": "The official name of the market associated with the given <parcl_id>"
                          },
                          "state_abbreviation": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "State Abbreviation",
                            "description": "Specifies the state within the United States used to filter search results. This field is designed to help users focus their search within specific states, using standard state abbreviations"
                          },
                          "region": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Region",
                            "description": "Specifies the region of the United States used to filter search results. This field is designed to help users focus their search within specific large geographic areas, aligning with common federal statistical divisions"
                          },
                          "location_type": {
                            "type": "string",
                            "title": "Location Type",
                            "description": "Specifies the type of geographic boundary used to filter search results. This field allows users to narrow down search results to specific geographic levels"
                          },
                          "total_population": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Total Population",
                            "description": "The total number of individuals residing within the geographic area identified by the parcl_id. This value is an integer that reflects the latest population count available from relevant census data"
                          },
                          "median_income": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Median Income",
                            "description": "The median income level of households within the geographic area identified by the parcl_id. This value is an integer representing the latest median household income available from relevant census data"
                          },
                          "parcl_exchange_market": {
                            "type": "integer",
                            "title": "Parcl Exchange Market",
                            "description": "Specifies whether the geographic area identified by the parcl_id is available as a tradable real estate market on the Parcl Protocol trading platform. It is a boolean value: 1 indicates that the market is active for trading, while 0 indicates it is not"
                          },
                          "pricefeed_market": {
                            "type": "integer",
                            "title": "Pricefeed Market",
                            "description": "Specifies whether a Parcl Labs price feed is available for the geographic area identified by the <parcl_id>. It is a boolean value: 1 indicates that a price feed is active for that market, while 0 indicates that it is not"
                          },
                          "case_shiller_10_market": {
                            "type": "integer",
                            "title": "Case Shiller 10 Market",
                            "description": "Specifies whether the geographic area identified by the parcl_id is included in the Case-Shiller 10 index, which tracks the performance of residential real estate in 10 major metropolitan areas in the United States. It is a boolean value: 1 indicates inclusion in the index, while 0 indicates it is not included"
                          },
                          "case_shiller_20_market": {
                            "type": "integer",
                            "title": "Case Shiller 20 Market",
                            "description": "Specifies whether the geographic area identified by the parcl_id is included in the Case-Shiller 20 index, which tracks the performance of residential real estate in 20 major metropolitan areas in the United States. It is a boolean value: 1 indicates inclusion in the index, while 0 indicates it is not included"
                          }
                        },
                        "type": "object",
                        "required": [
                          "parcl_id",
                          "country",
                          "geoid",
                          "name",
                          "location_type",
                          "total_population",
                          "median_income",
                          "parcl_exchange_market",
                          "pricefeed_market",
                          "case_shiller_10_market",
                          "case_shiller_20_market"
                        ],
                        "title": "SearchResponseSchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[SearchResponseSchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "usage_will_exceed_limit_error": {
                    "summary": "Usage Will Exceed Limit Error",
                    "value": {
                      "detail": "Request exceeds credit limit for your current tier. To resolve, you can: 1. Modify your request parameters to reduce credit usage, or 2. Upgrade to the Starter tier on your API dashboard for immediate access to more credits. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No search results",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "No data found matching search criteria. Try a different search term or parameters."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "query_string_error": {
                    "summary": "Query String Error",
                    "value": {
                      "detail": [
                        {
                          "type": "string_too_short",
                          "loc": [
                            "query",
                            "query"
                          ],
                          "msg": "query input should have at least 3 characters",
                          "input": "0",
                          "ctx": {
                            "min_length": 3
                          }
                        }
                      ]
                    }
                  },
                  "parcl_id_min_error": {
                    "summary": "Parcl ID Min Error",
                    "value": {
                      "detail": [
                        {
                          "type": "greater_than_equal",
                          "loc": [
                            "query",
                            "parcl_id"
                          ],
                          "msg": "parcl_id input should be greater than or equal to 0",
                          "input": "-1",
                          "ctx": {
                            "ge": 0
                          }
                        }
                      ]
                    }
                  },
                  "parcl_id_max_error": {
                    "summary": "Parcl ID Max Error",
                    "value": {
                      "detail": [
                        {
                          "type": "less_than",
                          "loc": [
                            "query",
                            "parcl_id"
                          ],
                          "msg": "parcl_id input should be less than 6000000",
                          "input": "10000000",
                          "ctx": {
                            "lt": 6000000
                          }
                        }
                      ]
                    }
                  },
                  "geoid_min_error": {
                    "summary": "Geoid Min Error",
                    "value": {
                      "detail": [
                        {
                          "type": "string_too_short",
                          "loc": [
                            "query",
                            "geoid"
                          ],
                          "msg": "geoid input should have at least 5 characters",
                          "input": "0",
                          "ctx": {
                            "min_length": 5
                          }
                        }
                      ]
                    }
                  },
                  "geoid_max_error": {
                    "summary": "Geoid Max Error",
                    "value": {
                      "detail": [
                        {
                          "type": "string_too_long",
                          "loc": [
                            "query",
                            "geoid"
                          ],
                          "msg": "geoid input should have at most 7 characters",
                          "input": "12345678",
                          "ctx": {
                            "max_length": 7
                          }
                        }
                      ]
                    }
                  },
                  "location_type_error": {
                    "summary": "Invalid Location Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "location_type"
                          ],
                          "msg": "location_type input should be COUNTY, CITY, ZIP5, CDP, VILLAGE, TOWN, CBSA, ALL",
                          "input": "0",
                          "ctx": {
                            "expected": "COUNTY, CITY, ZIP5, CDP, VILLAGE, TOWN, CBSA, ALL"
                          }
                        }
                      ]
                    }
                  },
                  "region_error": {
                    "summary": "Invalid Region",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "region"
                          ],
                          "msg": "region input should be EAST_NORTH_CENTRAL, EAST_SOUTH_CENTRAL, MIDDLE_ATLANTIC, MOUNTAIN, NEW_ENGLAND, PACIFIC, SOUTH_ATLANTIC, WEST_NORTH_CENTRAL, WEST_SOUTH_CENTRAL, ALL",
                          "input": "0",
                          "ctx": {
                            "expected": "EAST_NORTH_CENTRAL, EAST_SOUTH_CENTRAL, MIDDLE_ATLANTIC, MOUNTAIN, NEW_ENGLAND, PACIFIC, SOUTH_ATLANTIC, WEST_NORTH_CENTRAL, WEST_SOUTH_CENTRAL, ALL"
                          }
                        }
                      ]
                    }
                  },
                  "state_abbreviation_error": {
                    "summary": "Invalid State Abbreviation",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "state_abbreviation"
                          ],
                          "msg": "state_abbreviation input should be AK, AL, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, PR, RI, SC, SD, TN, TX, UT, VA, VI, VT, WA, WI, WV, WY, ALL",
                          "input": "0",
                          "ctx": {
                            "expected": "AK, AL, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, PR, RI, SC, SD, TN, TX, UT, VA, VI, VT, WA, WI, WV, WY, ALL"
                          }
                        }
                      ]
                    }
                  },
                  "state_fips_code_error": {
                    "summary": "Invalid State FIPS Code",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "state_fips_code"
                          ],
                          "msg": "state_fips_code input should be 01, 02, 04, 05, 06, 08, 09, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 60, 66, 69, 72, 78, ALL",
                          "input": "0",
                          "ctx": {
                            "expected": "01, 02, 04, 05, 06, 08, 09, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 60, 66, 69, 72, 78, ALL"
                          }
                        }
                      ]
                    }
                  },
                  "sort_by_error": {
                    "summary": "Invalid Sort By",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "sort_by"
                          ],
                          "msg": "sort_by input should be TOTAL_POPULATION, MEDIAN_INCOME, CASE_SHILLER_20_MARKET, CASE_SHILLER_10_MARKET, PRICEFEED_MARKET, PARCL_EXCHANGE_MARKET",
                          "input": "0",
                          "ctx": {
                            "expected": "TOTAL_POPULATION, MEDIAN_INCOME, CASE_SHILLER_20_MARKET, CASE_SHILLER_10_MARKET, PRICEFEED_MARKET, PARCL_EXCHANGE_MARKET"
                          }
                        }
                      ]
                    }
                  },
                  "sort_order_error": {
                    "summary": "Invalid Sort Order",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "sort_order"
                          ],
                          "msg": "sort_order input should be ASC, DESC",
                          "input": "0",
                          "ctx": {
                            "expected": "ASC, DESC"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "Rate Limit Exceeded",
                    "value": {
                      "error": "Rate limit exceeded: 10 per 1 minute"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/{parcl_id}/all_cash": {
      "get": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "All Cash",
        "description": "Gets monthly counts of all cash transactions and their percentage share of total sales, based on a specified <parcl_id> .",
        "operationId": "all_cash_v1_market_metrics__parcl_id__all_cash_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The type of property the data is associated with. Allows for filtering based on property type",
              "examples": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE"
              ],
              "default": "ALL_PROPERTIES",
              "type": "string",
              "enum": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE",
                "ALL_PROPERTIES"
              ],
              "title": "PropertyType"
            },
            "description": "The type of property the data is associated with. Allows for filtering based on property type"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the second month following the indicated month to include all events from the specified month. For example, data for January (‘2024-01-01’) is available on March 15th to include January’s events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "count": {
                            "type": "integer",
                            "title": "Count",
                            "description": "Count of all cash transactions"
                          },
                          "pct_all_cash": {
                            "type": "number",
                            "title": "Pct All Cash",
                            "description": "Percentage of total sales within the specified <parcl_id> that are completed as all cash transactions"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "count",
                          "pct_all_cash"
                        ],
                        "title": "MarketAllCashMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[MarketAllCashMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "usage_will_exceed_limit_error": {
                    "summary": "Usage Will Exceed Limit Error",
                    "value": {
                      "detail": "Request exceeds credit limit for your current tier. To resolve, you can: 1. Modify your request parameters to reduce credit usage, or 2. Upgrade to the Starter tier on your API dashboard for immediate access to more credits. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be before or equal to end_date",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date cannot be today or in the future",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be after 2019-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "end_date must be after 2019-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "property_type input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/all_cash": {
      "post": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "All Cash",
        "description": "Gets monthly counts of all cash transactions and their percentage share of total sales, based on specified parcl_ids. A maximum of 1000 parcl_ids can be requested in a single POST request.",
        "operationId": "all_cash_v1_market_metrics_all_cash_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "property_type": {
                    "description": "The type of property the data is associated with. Allows for filtering based on property type",
                    "default": "ALL_PROPERTIES",
                    "examples": [
                      "SINGLE_FAMILY",
                      "CONDO",
                      "TOWNHOUSE"
                    ],
                    "type": "string",
                    "enum": [
                      "SINGLE_FAMILY",
                      "CONDO",
                      "TOWNHOUSE",
                      "ALL_PROPERTIES"
                    ],
                    "title": "PropertyType"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "title": "Start Date",
                    "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
                    "examples": [
                      "2023-01-01"
                    ]
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "title": "End Date",
                    "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
                    "examples": [
                      "2024-01-01"
                    ]
                  },
                  "parcl_id": {
                    "items": {
                      "type": "integer"
                    },
                    "type": "array",
                    "maxItems": 1000,
                    "title": "Parcl Id",
                    "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA",
                    "examples": [
                      [
                        2900187,
                        2900078,
                        2899845
                      ]
                    ]
                  }
                },
                "type": "object",
                "required": [
                  "parcl_id"
                ],
                "title": "ParclIdDateandPropertyTypeParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the second month following the indicated month to include all events from the specified month. For example, data for January (‘2024-01-01’) is available on March 15th to include January’s events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "count": {
                            "type": "integer",
                            "title": "Count",
                            "description": "Count of all cash transactions"
                          },
                          "pct_all_cash": {
                            "type": "number",
                            "title": "Pct All Cash",
                            "description": "Percentage of total sales within the specified <parcl_id> that are completed as all cash transactions"
                          },
                          "parcl_id": {
                            "type": "integer",
                            "title": "Parcl Id",
                            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "count",
                          "pct_all_cash",
                          "parcl_id"
                        ],
                        "title": "MarketAllCashPostMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "PostLimitOffsetPage[MarketAllCashPostMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "usage_will_exceed_limit_error": {
                    "summary": "Usage Will Exceed Limit Error",
                    "value": {
                      "detail": "Request exceeds credit limit for your current tier. To resolve, you can: 1. Modify your request parameters to reduce credit usage, or 2. Upgrade to the Starter tier on your API dashboard for immediate access to more credits. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be before or equal to end_date",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date cannot be today or in the future",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2010-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be after 2010-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2010-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "end_date must be after 2010-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "missing_parcl_id": {
                    "summary": "Missing parcl_id",
                    "value": {
                      "detail": [
                        {
                          "type": "missing",
                          "loc": [
                            "body",
                            "parcl_id"
                          ],
                          "msg": "parcl_id input required",
                          "input": {}
                        }
                      ]
                    }
                  },
                  "too_many_parcl_id": {
                    "summary": "Too many parcl_ids",
                    "value": {
                      "detail": [
                        {
                          "type": "too_long",
                          "loc": [
                            "body",
                            "parcl_id"
                          ],
                          "msg": "parcl_id input should have at most 1000 item after validation, not 1001",
                          "input": [],
                          "ctx": {
                            "field_type": "List",
                            "max_length": 1000,
                            "actual_length": 1001
                          }
                        }
                      ]
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "property_type input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/{parcl_id}/housing_event_counts": {
      "get": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "Housing Event Counts",
        "description": "Gets monthly counts of housing events, including sales, new for sale listings, and new rental listings, based on a specified <parcl_id>.",
        "operationId": "housing_event_counts_v1_market_metrics__parcl_id__housing_event_counts_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The type of property the data is associated with. Allows for filtering based on property type",
              "examples": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE"
              ],
              "default": "ALL_PROPERTIES",
              "type": "string",
              "enum": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE",
                "ALL_PROPERTIES"
              ],
              "title": "PropertyType"
            },
            "description": "The type of property the data is associated with. Allows for filtering based on property type"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the following month to include all events from the previous month. For example, data for January ('2024-01-01') is available on February 15th to include January's events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "sales": {
                            "type": "integer",
                            "title": "Sales",
                            "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                          },
                          "new_listings_for_sale": {
                            "type": "integer",
                            "title": "New Listings For Sale",
                            "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                          },
                          "new_rental_listings": {
                            "type": "integer",
                            "title": "New Rental Listings",
                            "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "sales",
                          "new_listings_for_sale",
                          "new_rental_listings"
                        ],
                        "title": "HousingEventCountsMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[HousingEventCountsMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "usage_will_exceed_limit_error": {
                    "summary": "Usage Will Exceed Limit Error",
                    "value": {
                      "detail": "Request exceeds credit limit for your current tier. To resolve, you can: 1. Modify your request parameters to reduce credit usage, or 2. Upgrade to the Starter tier on your API dashboard for immediate access to more credits. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be before or equal to end_date",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date cannot be today or in the future",
                        "input": "0"
                      }
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "start_date must be after 2019-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": {
                        "type": "date_error",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "end_date must be after 2019-01-01",
                        "input": "0"
                      }
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "property_type input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/housing_event_counts": {
      "post": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "Housing Event Counts",
        "description": "Gets monthly counts of housing events, including sales, new for sale listings, and new rental listings, based on specified parcl_ids. A maximum of 1000 parcl_ids can be requested in a single POST request.",
        "operationId": "housing_event_counts_v1_market_metrics_housing_event_counts_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "property_type": {
                    "description": "The type of property the data is associated with. Allows for filtering based on property type",
                    "default": "ALL_PROPERTIES",
                    "examples": [
                      "SINGLE_FAMILY",
                      "CONDO",
                      "TOWNHOUSE"
                    ],
                    "type": "string",
                    "enum": [
                      "SINGLE_FAMILY",
                      "CONDO",
                      "TOWNHOUSE",
                      "ALL_PROPERTIES"
                    ],
                    "title": "PropertyType"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "title": "Start Date",
                    "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
                    "examples": [
                      "2023-01-01"
                    ]
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "title": "End Date",
                    "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to NULL",
                    "examples": [
                      "2024-01-01"
                    ]
                  },
                  "parcl_id": {
                    "items": {
                      "type": "integer"
                    },
                    "type": "array",
                    "maxItems": 1000,
                    "title": "Parcl Id",
                    "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA",
                    "examples": [
                      [
                        2900187,
                        2900078,
                        2899845
                      ]
                    ]
                  }
                },
                "type": "object",
                "required": [
                  "parcl_id"
                ],
                "title": "ParclIdDateandPropertyTypeParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the following month to include all events from the previous month. For example, data for January ('2024-01-01') is available on February 15th to include January's events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "sales": {
                            "type": "integer",
                            "title": "Sales",
                            "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                          },
                          "new_listings_for_sale": {
                            "type": "integer",
                            "title": "New Listings For Sale",
[...]
